EmExServiceClient/EmExServiceClient/Connected Services/ContrafactService/item7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Emex.Communication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Emex.Communication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9923/ContrafactService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Counterfeit.Entities.Contrafact" />
  <xs:import schemaLocation="http://localhost:9923/ContrafactService/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Emex.IO" />
  <xs:import schemaLocation="http://localhost:9923/ContrafactService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Core.Services.Entities" />
  <xs:complexType name="OperationResultArrayOfContrafactInfo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperationResult{0}" Namespace="http://schemas.datacontract.org/2004/07/Emex.Communication" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfContrafactInfo" Namespace="http://schemas.datacontract.org/2004/07/Counterfeit.Entities.Contrafact" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperationResult">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Counterfeit.Entities.Contrafact" minOccurs="0" name="OperationObject" nillable="true" type="q1:ArrayOfContrafactInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperationResultArrayOfContrafactInfo" nillable="true" type="tns:OperationResultArrayOfContrafactInfo" />
  <xs:complexType name="OperationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="IsRepeat" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResult" nillable="true" type="tns:OperationResult" />
  <xs:complexType name="OperationResultContrafactInfoDetalization">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperationResult{0}" Namespace="http://schemas.datacontract.org/2004/07/Emex.Communication" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ContrafactInfoDetalization" Namespace="http://schemas.datacontract.org/2004/07/Counterfeit.Entities.Contrafact" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperationResult">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Counterfeit.Entities.Contrafact" minOccurs="0" name="OperationObject" nillable="true" type="q2:ContrafactInfoDetalization" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperationResultContrafactInfoDetalization" nillable="true" type="tns:OperationResultContrafactInfoDetalization" />
  <xs:complexType name="OperationResultWithFiles">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperationResult">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Emex.IO" minOccurs="0" name="Files" nillable="true" type="q3:ArrayOfFileDescription" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperationResultWithFiles" nillable="true" type="tns:OperationResultWithFiles" />
  <xs:complexType name="OperationResultArrayOfCounterfeitModelInfo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperationResult{0}" Namespace="http://schemas.datacontract.org/2004/07/Emex.Communication" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfCounterfeitModelInfo" Namespace="http://schemas.datacontract.org/2004/07/Counterfeit.Entities.Contrafact" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperationResult">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Counterfeit.Entities.Contrafact" minOccurs="0" name="OperationObject" nillable="true" type="q4:ArrayOfCounterfeitModelInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperationResultArrayOfCounterfeitModelInfo" nillable="true" type="tns:OperationResultArrayOfCounterfeitModelInfo" />
  <xs:complexType name="OperationResultArrayOfContrafactComment">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperationResult{0}" Namespace="http://schemas.datacontract.org/2004/07/Emex.Communication" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfContrafactComment" Namespace="http://schemas.datacontract.org/2004/07/Counterfeit.Entities.Contrafact" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperationResult">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Counterfeit.Entities.Contrafact" minOccurs="0" name="OperationObject" nillable="true" type="q5:ArrayOfContrafactComment" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperationResultArrayOfContrafactComment" nillable="true" type="tns:OperationResultArrayOfContrafactComment" />
  <xs:complexType name="OperationResultArrayOfCounterfeitSupplierInfo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperationResult{0}" Namespace="http://schemas.datacontract.org/2004/07/Emex.Communication" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfCounterfeitSupplierInfo" Namespace="http://schemas.datacontract.org/2004/07/Counterfeit.Entities.Contrafact" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperationResult">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Counterfeit.Entities.Contrafact" minOccurs="0" name="OperationObject" nillable="true" type="q6:ArrayOfCounterfeitSupplierInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperationResultArrayOfCounterfeitSupplierInfo" nillable="true" type="tns:OperationResultArrayOfCounterfeitSupplierInfo" />
  <xs:complexType name="OperationResultCounterfeitModelInfoDetalization">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperationResult{0}" Namespace="http://schemas.datacontract.org/2004/07/Emex.Communication" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CounterfeitModelInfoDetalization" Namespace="http://schemas.datacontract.org/2004/07/Counterfeit.Entities.Contrafact" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperationResult">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Counterfeit.Entities.Contrafact" minOccurs="0" name="OperationObject" nillable="true" type="q7:CounterfeitModelInfoDetalization" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperationResultCounterfeitModelInfoDetalization" nillable="true" type="tns:OperationResultCounterfeitModelInfoDetalization" />
  <xs:complexType name="OperationResultArrayOfCounterfeitModelFeature">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperationResult{0}" Namespace="http://schemas.datacontract.org/2004/07/Emex.Communication" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfCounterfeitModelFeature" Namespace="http://schemas.datacontract.org/2004/07/Counterfeit.Entities.Contrafact" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperationResult">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Counterfeit.Entities.Contrafact" minOccurs="0" name="OperationObject" nillable="true" type="q8:ArrayOfCounterfeitModelFeature" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperationResultArrayOfCounterfeitModelFeature" nillable="true" type="tns:OperationResultArrayOfCounterfeitModelFeature" />
  <xs:complexType name="OperationResultStickerDescription">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperationResult{0}" Namespace="http://schemas.datacontract.org/2004/07/Emex.Communication" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="StickerDescription" Namespace="http://schemas.datacontract.org/2004/07/Core.Services.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperationResult">
        <xs:sequence>
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Core.Services.Entities" minOccurs="0" name="OperationObject" nillable="true" type="q9:StickerDescription" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperationResultStickerDescription" nillable="true" type="tns:OperationResultStickerDescription" />
  <xs:complexType name="OperationResultArrayOfPossibleCounterfeitDetail">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperationResult{0}" Namespace="http://schemas.datacontract.org/2004/07/Emex.Communication" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfPossibleCounterfeitDetail" Namespace="http://schemas.datacontract.org/2004/07/Counterfeit.Entities.Contrafact" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperationResult">
        <xs:sequence>
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Counterfeit.Entities.Contrafact" minOccurs="0" name="OperationObject" nillable="true" type="q10:ArrayOfPossibleCounterfeitDetail" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperationResultArrayOfPossibleCounterfeitDetail" nillable="true" type="tns:OperationResultArrayOfPossibleCounterfeitDetail" />
</xs:schema>