EmExServiceClient/EmExServiceClient/Connected Services/ContrafactService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Emex.IO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Emex.IO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9923/ContrafactService/?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfFileDescription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileDescription" nillable="true" type="tns:FileDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileDescription" nillable="true" type="tns:ArrayOfFileDescription" />
  <xs:complexType name="FileDescription">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Content" nillable="true" type="q1:ArrayOfbase64Binary" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:FileType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileDescription" nillable="true" type="tns:FileDescription" />
  <xs:simpleType name="FileType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Excel" />
      <xs:enumeration value="Word" />
      <xs:enumeration value="EMF" />
      <xs:enumeration value="PDF" />
      <xs:enumeration value="CSV" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FileType" nillable="true" type="tns:FileType" />
</xs:schema>