EmExServiceClient/EmExServiceClient/Connected Services/ContragentService/Emex.Document.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Emex.Document" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Emex.Document" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfInventory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Inventory" nillable="true" type="tns:Inventory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInventory" nillable="true" type="tns:ArrayOfInventory" />
  <xs:complexType name="Inventory">
    <xs:sequence>
      <xs:element minOccurs="0" name="InventoriedDocumentId" type="xs:int" />
      <xs:element minOccurs="0" name="RecycledDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RecycledDocumentId" type="xs:int" />
      <xs:element minOccurs="0" name="SummaWithoutNDS" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Inventory" nillable="true" type="tns:Inventory" />
  <xs:complexType name="ArrayOfDocumentCorrectionCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentCorrectionCard" nillable="true" type="tns:DocumentCorrectionCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentCorrectionCard" nillable="true" type="tns:ArrayOfDocumentCorrectionCard" />
  <xs:complexType name="DocumentCorrectionCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorrectionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CorrectionInvoiceId" type="xs:long" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:long" />
      <xs:element minOccurs="0" name="CustomerLogo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsRowHidden" type="xs:boolean" />
      <xs:element minOccurs="0" name="Print" type="xs:boolean" />
      <xs:element minOccurs="0" name="Send" type="xs:boolean" />
      <xs:element minOccurs="0" name="SumWithTax" type="xs:decimal" />
      <xs:element minOccurs="0" name="View" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentCorrectionCard" nillable="true" type="tns:DocumentCorrectionCard" />
  <xs:complexType name="ArrayOfSupplierDocumentReturnCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupplierDocumentReturnCard" nillable="true" type="tns:SupplierDocumentReturnCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplierDocumentReturnCard" nillable="true" type="tns:ArrayOfSupplierDocumentReturnCard" />
  <xs:complexType name="SupplierDocumentReturnCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="CanOverSet" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanRecreateReturnDocument" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanRevocation" type="xs:boolean" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiadocDateSet" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DocHyperlink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DocumentId" type="xs:long" />
      <xs:element minOccurs="0" name="InsertDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InvoiceNumberSF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceNumberStandart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceSfLostId" type="xs:long" />
      <xs:element minOccurs="0" name="IsRowHidden" type="xs:boolean" />
      <xs:element minOccurs="0" name="RecreateReturnDocument" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ReturnDocumentIds" nillable="true" type="q1:ArrayOflong" />
      <xs:element minOccurs="0" name="RunOverSet" type="xs:boolean" />
      <xs:element minOccurs="0" name="RunRevocation" type="xs:boolean" />
      <xs:element minOccurs="0" name="SupplierId" type="xs:long" />
      <xs:element minOccurs="0" name="SupplierLogo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeLost" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplierDocumentReturnCard" nillable="true" type="tns:SupplierDocumentReturnCard" />
  <xs:complexType name="ArrayOfDocumentSticker">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentSticker" nillable="true" type="tns:DocumentSticker" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentSticker" nillable="true" type="tns:ArrayOfDocumentSticker" />
  <xs:complexType name="DocumentSticker">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateAndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DocDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Logo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReestrObjectId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentSticker" nillable="true" type="tns:DocumentSticker" />
  <xs:complexType name="ArrayOfTransportDocumentSticker">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransportDocumentSticker" nillable="true" type="tns:TransportDocumentSticker" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransportDocumentSticker" nillable="true" type="tns:ArrayOfTransportDocumentSticker" />
  <xs:complexType name="TransportDocumentSticker">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateAndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Logo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReestrObjectId" type="xs:long" />
      <xs:element minOccurs="0" name="ShipperCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipperContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShipperName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransportDocumentSticker" nillable="true" type="tns:TransportDocumentSticker" />
  <xs:complexType name="ArrayOfDecommission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Decommission" nillable="true" type="tns:Decommission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDecommission" nillable="true" type="tns:ArrayOfDecommission" />
  <xs:complexType name="Decommission">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecycledDocumentId" type="xs:int" />
      <xs:element minOccurs="0" name="RecyclingType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SummaWithoutNDS" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Decommission" nillable="true" type="tns:Decommission" />
  <xs:complexType name="ArrayOfDecommissionDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DecommissionDetail" nillable="true" type="tns:DecommissionDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDecommissionDetail" nillable="true" type="tns:ArrayOfDecommissionDetail" />
  <xs:complexType name="DecommissionDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="DetailName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetailNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetailQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="MakeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderDetailSubId" type="xs:long" />
      <xs:element minOccurs="0" name="Portion" type="xs:int" />
      <xs:element minOccurs="0" name="RecycledDetailId" type="xs:int" />
      <xs:element minOccurs="0" name="RecycledDocumentId" type="xs:int" />
      <xs:element minOccurs="0" name="RecyclingType" type="xs:int" />
      <xs:element minOccurs="0" name="SendToUtilization" type="xs:boolean" />
      <xs:element minOccurs="0" name="SourceBarcode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DecommissionDetail" nillable="true" type="tns:DecommissionDetail" />
  <xs:complexType name="ArrayOfAccountCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountCard" nillable="true" type="tns:AccountCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountCard" nillable="true" type="tns:ArrayOfAccountCard" />
  <xs:complexType name="AccountCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AccountId" type="xs:long" />
      <xs:element minOccurs="0" name="AccountNumber" type="xs:int" />
      <xs:element minOccurs="0" name="BalanceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:long" />
      <xs:element minOccurs="0" name="CustomerLogo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocType" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="InvoiceNumber" type="xs:int" />
      <xs:element minOccurs="0" name="IsArchive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
      <xs:element minOccurs="0" name="TotalSum" type="xs:decimal" />
      <xs:element minOccurs="0" name="buhBalanceId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountCard" nillable="true" type="tns:AccountCard" />
  <xs:complexType name="ArrayOfAccountCard2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountCard2" nillable="true" type="tns:AccountCard2" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountCard2" nillable="true" type="tns:ArrayOfAccountCard2" />
  <xs:complexType name="AccountCard2">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AccountId" type="xs:long" />
      <xs:element minOccurs="0" name="AccountNumber" type="xs:int" />
      <xs:element minOccurs="0" name="BalanceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:long" />
      <xs:element minOccurs="0" name="CustomerLogo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocType" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="InvoiceNumber" type="xs:int" />
      <xs:element minOccurs="0" name="IsArchive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsError" type="xs:boolean" />
      <xs:element minOccurs="0" name="TotalSum" type="xs:decimal" />
      <xs:element minOccurs="0" name="buhBalanceId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountCard2" nillable="true" type="tns:AccountCard2" />
  <xs:complexType name="ArrayOfAccountCard3">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountCard3" nillable="true" type="tns:AccountCard3" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountCard3" nillable="true" type="tns:ArrayOfAccountCard3" />
  <xs:complexType name="AccountCard3">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AccountCard2">
        <xs:sequence>
          <xs:element minOccurs="0" name="DocumentLink" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DocumentNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvoiceNumberString" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StatusDocument" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StatusId" type="xs:int" />
          <xs:element minOccurs="0" name="TypeDocument" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountCard3" nillable="true" type="tns:AccountCard3" />
  <xs:complexType name="ArrayOfDiadocDocumentStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DiadocDocumentStatus" nillable="true" type="tns:DiadocDocumentStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDiadocDocumentStatus" nillable="true" type="tns:ArrayOfDiadocDocumentStatus" />
  <xs:complexType name="DiadocDocumentStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="StatusDocument" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DiadocDocumentStatus" nillable="true" type="tns:DiadocDocumentStatus" />
  <xs:complexType name="ArrayOfDocumentReturnCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentReturnCard" nillable="true" type="tns:DocumentReturnCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentReturnCard" nillable="true" type="tns:ArrayOfDocumentReturnCard" />
  <xs:complexType name="DocumentReturnCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerLogo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DefectPreDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DefectPreId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="DefectPreNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListOfClaimHeaders" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListOfUkdHeaders" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListOfСorrectionInvoiceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Torg12Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Torg12Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Torg2Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Torg2Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Torg2Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalSum" type="xs:decimal" />
      <xs:element minOccurs="0" name="VVDocNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VVFullPrice" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentReturnCard" nillable="true" type="tns:DocumentReturnCard" />
  <xs:simpleType name="DocumentOptions">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Print" />
          <xs:enumeration value="Send" />
          <xs:enumeration value="ReturnExcel" />
          <xs:enumeration value="ReturnImage" />
          <xs:enumeration value="ReturnPDF" />
          <xs:enumeration value="ReturnCSV" />
          <xs:enumeration value="Save">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">48</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ReturnDoc">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">64</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="DocumentOptions" nillable="true" type="tns:DocumentOptions" />
  <xs:simpleType name="DocumentReasonType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Account" />
      <xs:enumeration value="InvoiceClose" />
      <xs:enumeration value="ClientReturn" />
      <xs:enumeration value="CMRShipping" />
      <xs:enumeration value="NoName" />
      <xs:enumeration value="WMSCloseCollect" />
      <xs:enumeration value="WMSCloseShipping" />
      <xs:enumeration value="InvoicesSFProcessingPayment" />
      <xs:enumeration value="LocalStorageAccount" />
      <xs:enumeration value="SupplierPenalty" />
      <xs:enumeration value="SupplierReturn" />
      <xs:enumeration value="ReturnFromCustomer">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">14</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BarcodeProcessingPayment">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">15</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InvoicesSFOnlineClientPayment">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">20</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="JointProcessingPayment">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">24</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OF8WebService">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">27</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ProtectionFromReturnPayment">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">29</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SupplierReturnSale">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">32</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DocumentReasonType" nillable="true" type="tns:DocumentReasonType" />
  <xs:simpleType name="DocumentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Torg12">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Invoice">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InvoiceTypeOne">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CustomerBarcodeFile">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PackSheet">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Statement">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M11DemandBill">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Torg12WithGrouping">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TTN">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TORG2">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ActSurplusTORG2">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M15">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InfoLost">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">13</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CMR">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">14</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InsuranceRequest">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">15</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RegionPackSheet">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BuhAccountPlan">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">17</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Torg12Return">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">30</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Upd">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">31</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UpdReturn">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">34</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Ukd">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">38</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Counterfeit">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">39</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Ksf">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">42</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Util_2_1">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">49</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Util_2_2">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">50</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Util_2_3">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">51</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Util_2_4">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">52</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Util_2_5">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">53</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Util_2_6">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">54</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Util_2_7">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">55</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Util_2_8">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">56</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Util_2_9">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">57</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Util_2_10">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">58</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InventoryList">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">59</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InventoryOrder">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">60</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InventoryRegister">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">61</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InventoryCollationStatement">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">62</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InventoryResultDirective">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">63</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DueDiligence">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">64</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SupplierReturnsRegister">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">65</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DocumentType" nillable="true" type="tns:DocumentType" />
  <xs:complexType name="ArrayOfActRecycling">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActRecycling" nillable="true" type="tns:ActRecycling" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActRecycling" nillable="true" type="tns:ArrayOfActRecycling" />
  <xs:complexType name="ActRecycling">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ActNumber" type="xs:int" />
      <xs:element minOccurs="0" name="BarcodeData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BarcodeImage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="SummaWithoutTax" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActRecycling" nillable="true" type="tns:ActRecycling" />
</xs:schema>