EmExServiceClient/EmExServiceClient/Connected Services/ContragentService/Emex.EmexMain.Supplier.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Emex.EmexMain.Supplier" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Emex.EmexMain.Supplier" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSuppliersReturnsAuthority">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SuppliersReturnsAuthority" nillable="true" type="tns:SuppliersReturnsAuthority" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSuppliersReturnsAuthority" nillable="true" type="tns:ArrayOfSuppliersReturnsAuthority" />
  <xs:complexType name="SuppliersReturnsAuthority">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorityData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthorityScanUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthorityState" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="AuthorityStateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AuthorityType" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Barcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IssueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IssuePlace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Revision" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Signer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignerDocument" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignerGenitive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignerPost" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignerPostGenitive" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierId" type="xs:long" />
      <xs:element minOccurs="0" name="SuppliersReturnsAuthoritiesId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SuppliersReturnsAuthority" nillable="true" type="tns:SuppliersReturnsAuthority" />
</xs:schema>