EmExServiceClient/EmExServiceClient/Connected Services/SecurityCameraService/SecurityCameraService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26900/SecurityCameraService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SecurityCamera.Entities" />
  <xs:import schemaLocation="http://localhost:26900/SecurityCameraService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:26900/SecurityCameraService?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetCameras">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCamerasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SecurityCamera.Entities" minOccurs="0" name="GetCamerasResult" nillable="true" type="q1:ArrayOfCamera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCamera">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SecurityCamera.Entities" minOccurs="0" name="camera" nillable="true" type="q2:Camera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCameraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SecurityCamera.Entities" minOccurs="0" name="AddCameraResult" nillable="true" type="q3:Camera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCamera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cameraId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCameraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCamera">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SecurityCamera.Entities" minOccurs="0" name="camera" nillable="true" type="q4:Camera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCameraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SecurityCamera.Entities" minOccurs="0" name="UpdateCameraResult" nillable="true" type="q5:Camera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBindings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBindingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SecurityCamera.Entities" minOccurs="0" name="GetBindingsResult" nillable="true" type="q6:ArrayOfBinding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBinding">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SecurityCamera.Entities" minOccurs="0" name="binding" nillable="true" type="q7:Binding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBindingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SecurityCamera.Entities" minOccurs="0" name="AddBindingResult" nillable="true" type="q8:Binding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBinding">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bindingId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBindingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBinding">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SecurityCamera.Entities" minOccurs="0" name="binding" nillable="true" type="q9:Binding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBindingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SecurityCamera.Entities" minOccurs="0" name="UpdateBindingResult" nillable="true" type="q10:Binding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCameraData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cameraId" type="xs:int" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCameraDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendBindingData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bindingCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendBindingDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bindingCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logProcessTypeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="logObjectKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bindingCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogProcessResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUnloadVideoFragmentsTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="securityCameraProcessLogTypeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="logObjectKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="entityCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUnloadVideoFragmentsTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUnloadAndSendVideoTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="securityCameraProcessLogTypeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="logObjectKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="supplierLogo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="notificationEmails" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUnloadAndSendVideoTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartSendVideoProcessing">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartSendVideoProcessingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopSendVideoProcessing">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopSendVideoProcessingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSendVideoProcessingStarted">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSendVideoProcessingStartedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsSendVideoProcessingStartedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionStrings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionStringsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetConnectionStringsResult" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetVersionsResult" nillable="true" type="q12:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEndpoints">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEndpointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetEndpointsResult" nillable="true" type="q13:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfiguration">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetConfigurationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearCache">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearCacheResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCache">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCacheResult" nillable="true" type="q14:ArrayOfKeyValueOfstringArrayOfKeyValueOfstringstringty7Ep6D1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetWcfLogging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isEnabled" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetWcfLoggingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="param" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCommentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsWorking">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsWorkingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsWorkingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCounter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="param" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCounterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/Message" name="GetCounterResult" type="q15:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>