EmExServiceClient/EmExServiceClient/Connected Services/SecurityCameraService/SecurityCameraService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SecurityCamera.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SecurityCamera.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCamera">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Camera" nillable="true" type="tns:Camera" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCamera" nillable="true" type="tns:ArrayOfCamera" />
  <xs:complexType name="Camera">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bindings" nillable="true" type="tns:ArrayOfBinding" />
      <xs:element minOccurs="0" name="CameraId" type="xs:int" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Camera" nillable="true" type="tns:Camera" />
  <xs:complexType name="ArrayOfBinding">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Binding" nillable="true" type="tns:Binding" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBinding" nillable="true" type="tns:ArrayOfBinding" />
  <xs:complexType name="Binding">
    <xs:sequence>
      <xs:element minOccurs="0" name="BindingId" type="xs:int" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Binding" nillable="true" type="tns:Binding" />
</xs:schema>