EmExServiceClient/EmExServiceClient/Connected Services/DocumentService/Emex.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Emex" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Emex" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthentificationData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Host" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPPC" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserId" type="xs:long" />
      <xs:element minOccurs="0" name="UserLogo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthentificationData" nillable="true" type="tns:AuthentificationData" />
</xs:schema>