EmExServiceClient/EmExServiceClient/Connected Services/DocumentService/Emex.Revise.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Emex.Revise" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Emex.Revise" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReviseOfm1c">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateEvent2" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Deleted1С" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="DocDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DocDate1C" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DocDateStore" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DocNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocNumber1C" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocNumberStore" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="DocumentId1C" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="InsertDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OperaciaDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ReferenceOperacia" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ReferenceStore" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StateDeleted" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SumWithoutTax" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Summa" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Summa1C" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SummaWithoutTaxStore" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TypeIdOperacia" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TypeIdStore" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="buhOperaciaId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="buhOperaciaIdDocument" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="buhOperaciaIdStore" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReviseOfm1c" nillable="true" type="tns:ReviseOfm1c" />
</xs:schema>