EmExServiceClient/EmExServiceClient/Connected Services/DocumentService/Emex.Dispatch.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Emex.Dispatch" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Emex.Dispatch" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Emex.IO" />
  <xs:complexType name="Sverka">
    <xs:sequence>
      <xs:element minOccurs="0" name="Credit" type="xs:decimal" />
      <xs:element minOccurs="0" name="Debet" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Emex.IO" minOccurs="0" name="Files" nillable="true" type="q1:ArrayOfFileDescription" />
      <xs:element minOccurs="0" name="SaldoBegin" type="xs:decimal" />
      <xs:element minOccurs="0" name="SaldoEnd" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sverka" nillable="true" type="tns:Sverka" />
</xs:schema>