EmExServiceClient/EmExServiceClient/Connected Services/DocumentService/Emex.Communication.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Emex.Communication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Emex.Communication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Emex.IO" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Emex.Dispatch" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Emex.Document" />
  <xs:complexType name="OperationResultWithFiles">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperationResult">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Emex.IO" minOccurs="0" name="Files" nillable="true" type="q1:ArrayOfFileDescription" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperationResultWithFiles" nillable="true" type="tns:OperationResultWithFiles" />
  <xs:complexType name="OperationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="IsRepeat" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResult" nillable="true" type="tns:OperationResult" />
  <xs:complexType name="OperationResultSverka">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperationResult{0}" Namespace="http://schemas.datacontract.org/2004/07/Emex.Communication" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Sverka" Namespace="http://schemas.datacontract.org/2004/07/Emex.Dispatch" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperationResult">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Emex.Dispatch" minOccurs="0" name="OperationObject" nillable="true" type="q2:Sverka" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperationResultSverka" nillable="true" type="tns:OperationResultSverka" />
  <xs:complexType name="OperationResultArrayOfVEDReportToBankDetail">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperationResult{0}" Namespace="http://schemas.datacontract.org/2004/07/Emex.Communication" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfVEDReportToBankDetail" Namespace="http://schemas.datacontract.org/2004/07/Emex.Document" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperationResult">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Emex.Document" minOccurs="0" name="OperationObject" nillable="true" type="q3:ArrayOfVEDReportToBankDetail" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperationResultArrayOfVEDReportToBankDetail" nillable="true" type="tns:OperationResultArrayOfVEDReportToBankDetail" />
  <xs:complexType name="OperationResultArrayOfVEDReportToBank">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperationResult{0}" Namespace="http://schemas.datacontract.org/2004/07/Emex.Communication" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfVEDReportToBank" Namespace="http://schemas.datacontract.org/2004/07/Emex.Document" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OperationResult">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Emex.Document" minOccurs="0" name="OperationObject" nillable="true" type="q4:ArrayOfVEDReportToBank" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperationResultArrayOfVEDReportToBank" nillable="true" type="tns:OperationResultArrayOfVEDReportToBank" />
</xs:schema>